{{ ansible_managed | comment }}

{% if bashrc_config["common"] is defined and bashrc_config["common"] | length > 0 %}
  {{ bashrc_config["common"] }}
{% endif %}

{% if item is defined %}
{% if bashrc_config[item] is defined and bashrc_config[item] | length > 0 %}
  {{ bashrc_config[item] }}
{% else %}
### Prompt
PS1="\[\e[0;37m\][\A]\[\e[0;m\]\[\e[0;32m\]\u\[\e[0;m\]\[\e[0;32m\]@\h\[\e[0;m\]:\[\e[1;36m\]\w\[\e[0;m\]\[\e[1;31m\]\\$\[\e[0;m\] "
{% endif %}
{% else %}
### Prompt
PS1="\[\e[0;37m\][\A]\[\e[0;m\]\[\e[0;32m\]\u\[\e[0;m\]\[\e[0;32m\]@\h\[\e[0;m\]:\[\e[1;36m\]\w\[\e[0;m\]\[\e[1;31m\]\\$\[\e[0;m\] "
{% endif %}
